<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <reflection>
      <allowedMethods>
        <!--Allowed Methods-->
        <descriptor type="Fieldtypes.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnModeChange" methodName="OnModeChange" assemblyName="Fieldtypes"/>
      </allowedMethods>
      <allowedPatterns>
        <!--Allowed Method Patterns-->
        <pattern value="^Fieldtypes\..*,Fieldtypes\..*$"/>
      </allowedPatterns>
    </reflection>
  </sitecore>
</configuration>