<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <reflection>
      <allowedMethods>
        <!--Allowed Methods-->
        <descriptor type="Fieldtypes.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnModeChange" methodName="OnModeChange" assemblyName="Fieldtypes"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.HandleMessage" methodName="HandleMessage" assemblyName="Foundation.Platform"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnListboxChanged" methodName="OnListboxChanged" assemblyName="Foundation.Platform"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnLoad" methodName="OnLoad" assemblyName="Foundation.Platform"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnMediaOpen" methodName="OnMediaOpen" assemblyName="Foundation.Platform"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.OnOK" methodName="OnOK" assemblyName="Foundation.Platform"/>
        <descriptor type="Foundation.Platform.ExtendedGeneralLink.ExtendedGeneralLinkForm" hint="ExtendedGeneralLinkForm.SelectMediaTreeNode" methodName="SelectMediaTreeNode" assemblyName="Foundation.Platform"/>
      </allowedMethods>
      <allowedPatterns>
        <!--Allowed Method Patterns-->
        <pattern value="^Fieldtypes\..*,Fieldtypes\..*$"/>
      </allowedPatterns>
    </reflection>
  </sitecore>
</configuration>